
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let item of items">
        <div class="card card-item">
            <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">Price: {{ item.current_price | currency }}</p>
                <p class="card-text">{{ item.description }}</p>
                <a [routerLink]="['item/', item.id]" class="card-link">Details</a>
            </div>
        </div>
    </div>
</div>
